h1 {
	color: #cfb7cb;
	font-size: 45px;
}

/* 3*3 Grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
	max-width: 25%;
	height: 52px;
	margin: 0px;
	border: 1px solid gray;
	border-radius: 6px;
	font-size: 30px;
	text-align: center;
}

/* Reset nupp */
#but {
	box-sizing: border-box;
	width: 95px;
	height: 40px;
	border: 1px solid orangered;
	margin: auto;
	border-radius: 4px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: darkred;
	color: white;
	font-size: 20px;
	cursor: pointer;
}
#but:hover {
    position: relative;
    left: 3px;
    bottom: 2px;
}

/* kelle kord */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	color: #cbb6d7;
	font-size: 20px;
}

/* alus */
#main {
	text-align: center;
}

/* juhend */
#ins {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
		
	color: #ffffff;
	font-size: 17px;
}